<h1>Just One!</h1>
<h2>Welcome, <%= @name %></h2>
<%= link("JOIN GAME", to: Routes.page_path(@conn, :join), class: "button") %>
<%= link("NEW GAME", to: Routes.page_path(@conn, :new), class: "button button-outline") %>
