<table id="jslicense-labels1">
  <tr>
    <td><a href="/js/app.js">app.js</a></td>
    <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
    <td><a href="/js/jquery-2.1.1.js">jquery-2.1.1.js</a></td>
  </tr>
</table>
