<h1>Join Room</h1>
<%= form_for :form, "/join", fn f -> %>
  <%= text_input f, :room, autofocus: true, placeholder: "ENTER 4-LETTER ROOM CODE", style: "text-transform:uppercase", maxLength: 4, autocapitalize: "off", autocorrect: "off", autocomplete: "off" %>
  <%= submit "Submit" %>
<% end %>
