<% room_code_length = 4 %>
<h1>Join Room</h1>
<%= form_for :form, "/join", fn f -> %>
  <%= text_input f, :room, autofocus: true, required: true, pattern: "^[A-Za-z]{#{room_code_length}}$", title: "Room code will be one #{room_code_length}-letter word", placeholder: "ENTER #{room_code_length}-LETTER ROOM CODE", style: "text-transform:uppercase", minLength: room_code_length, maxLength: room_code_length, autocapitalize: "off", autocorrect: "off", autocomplete: "off" %>
  <%= submit "SUBMIT" %>
<% end %>
