<h2>Enter your JekBox name</h2>
<%= form_for :form, "/name", fn f -> %>
  <%= hidden_input f, :to, value: @to %>
  <%= text_input f, :name, autofocus: true, required: true, pattern: "^.*[^ ].*$", title: "Name must be at least 1 character", placeholder: "ENTER YOUR NAME", style: "text-transform:uppercase", maxLength: 20, autocapitalize: "off", autocorrect: "off", autocomplete: "off" %>
  <%= submit "Submit" %>
<% end %>
