<h1>Room: <%= @room %> -- Name: <%= @name %></h1>

<h1>Cash: <%= @cash %></h1>
<h1>Eagle Shares: <%= @count %></h1>
<h1>Value: <%= @value %></h1>
<button phx-click="buy">buy</button>
<h1>Eagle Price: <%= @price %></h1>
<button phx-click="sell">sell</button>
