<%= preamble(assigns) %>

<h2>💔 for being wrong</h2>
<h2>Mystery Word</h2>
<%= present_word(@state.cur_word) %>
<h2>Your Guess</h2>
<%= present_word(@state.cur_guess) %>
<h2>The Clues</h2>
<%= clues(assigns) %>

<%= if guesser?(assigns) do %>
  <br>
  <%= continue_button(assigns, "actually_wrong") %>
<% end %>
