<%= preamble(assigns) %>

<h2>Because your guess was <%= bold("WRONG,") %> you lost:</h2>
<%= present_word(@state.cur_word) %>

<%= if length(@state.words) > 0 do %>
  <h2>and as an extra penalty, you also lost:</h2>
  <%= present_word(hd(@state.lost)) %>
<% end %>

<%= if guesser?(assigns) do %>
  <button phx-click="start">CONTINUE</button>
<% end %>
