<%= preamble(assigns) %>

<h2>💔 for missing</h2>
<%= present_word(@state.cur_word) %>

<h2>Your Guess</h2>
<%= present_word(@state.cur_guess) %>
<h2>The Clues</h2>
<%= clues(assigns) %>

<%= if guesser?(assigns) do %>
  <hr>
  <%= continue_button(assigns) %>
<% end %>
