<%= preamble(assigns) %>

<h2>You got a <%= bold("STRIKE", :red) %> for missing</h2>
<%= present_word(@state.cur_word) %>

<h2>Your Guess</h2>
<%= present_word(@state.cur_guess) %>
<h2>The Clues</h2>
<%= clues(assigns) %>

<%= if guesser?(assigns) do %>
  <hr>
  <button phx-click="start">CONTINUE</button>
<% end %>
