<h2>Game Over!</h2>
<h2>Final Score: <%= length(@state.scored) %> / <%= @state.word_count %></h2>
<h3>Scored Words:</h3>
<ul>
  <%= for scored <- @state.scored do %>
    <li><%= scored %></li>
  <% end %>
</ul>
<h3>Lost Words:</h3>
<ul>
  <%= for lost <- @state.lost do %>
    <li><%= lost %></li>
  <% end %>
</ul>
<%# TODO make this better with rulebook words about final score %>
