<h1>Room: <%= @room %></h1>

<% len = length(@state.id_list) %>
<label for="start">REQUIRES AT LEAST 3 PLAYERS</label>
<button id="start" phx-click="start" <%= if len < 3, do: "disabled" %>>START GAME</button>
<button phx-click="bot">ADD BOT</button>

<ul>
<%= for {_, name} <- @state.id_list do %>
  <li><%= name %></li>
<% end %>
</ul>
