<%= preamble(assigns) %>

<h2>💔 since no clues survived</h2>
<% name = if guesser?(assigns), do: "YOU", else: @state.guesser_name %>

<%= unless length(@state.lost) == @state.lives do %>
  <h2><%= tag_guesser(name) %> will remain the <%= bold("Guesser") %></h2>
<% end %>

<h2>Mystery Word</h2>
<%= present_word(@state.cur_word) %>

<h2>The Clues</h2>
<%= clues(assigns) %>

<%= if guesser?(assigns) do %>
  <br>
  <%= continue_button(assigns) %>
<% end %>
