<%= preamble(assigns) %>

<h2>Your guess was <em>probably</em> <%= bold("WRONG!", :red) %></h2>
<h2>Mystery Word</h2>
<%= present_word(@state.cur_word) %>
<h2>Your Guess</h2>
<%= present_word(@state.cur_guess) %>

<%= if guesser?(assigns) do %>
  <button phx-click="wrong">I WAS WRONG</button>
  <button class="button-outline" phx-click="right">I WAS CLOSE ENOUGH</button>
<% end %>
