<%= preamble(assigns) %>

<h2>The guess was <%= bold("WRONG!") %></h2>
<h2>Mystery Word:</h2>
<%= present_word(@state.cur_word) %>
<h2>The Guess</h2>
<%= present_word(@state.cur_guess) %>

<%= if guesser?(assigns) do %>
  <button phx-click="wrong">YEP, I WAS WRONG</button>
  <button class="button-outline" phx-click="right">I WAS RIGHT, BUT HAD A TYPO!</button>
<% end %>
