<%= preamble(assigns) %>

<%= if @state.clues[self()] == "" do %>
  <%= present_word(@state.cur_word) %>
  <%= f = form_for :clue, "", [phx_submit: "clue"] %>
    <%= text_input f, :clue, autofocus: true, placeholder: "ENTER ONE WORD CLUE for '#{@state.cur_word}'", style: "text-transform:uppercase", maxLength: 30, autocapitalize: "off", autocorrect: "off", autocomplete: "off" %>
    <%= submit "SUBMIT" %>
  </form>
<% else %>
  <h2>Waiting for clues...</h2>
<% end %>
